body {
    background-image: url("img/ff.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
}

#jenis {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#tingkat {
    color: rgb(255, 255, 255);
    font-weight: bold;
}